{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shorter list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Originallink</th>
                <th>Shortlink</th>
                <th>Counter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shorter in shorters %}
                <tr>
                    <td><a href="{{ path('shorter_show', { 'id': shorter.id }) }}">{{ shorter.id }}</a></td>
                    <td>{{ shorter.originalLink }}</td>
                    <td>{{ shorter.shortLink }}</td>
                    <td>{{ shorter.counter }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('shorter_show', { 'id': shorter.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('shorter_edit', { 'id': shorter.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shorter_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
