{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shorter creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}
{% endblock %}
