{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shorter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shorter.id }}</td>
            </tr>
            <tr>
                <th>Originallink</th>
                <td>{{ shorter.originalLink }}</td>
            </tr>
            <tr>
                <th>Shortlink</th>
                <td>{{ shorter.shortLink }}</td>
            </tr>
            <tr>
                <th>Counter</th>
                <td>{{ shorter.counter }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shorter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shorter_edit', { 'id': shorter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
