{#<!DOCTYPE html>#}
{#<html>#}
    {#<head>#}
        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
    {#</body>#}
{#</html>#}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    </head>
    <body>
        <section class="wrapper">
            <div class="logoContainer">
                <img src="/styles/user.jpg">
                <p>
                    <input id="centralInput" type="text">
                    <button>OK</button>
                </p>
            </div>
            <div class="stickyFooter">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 footerImgContainer"><img src="/styles/user.jpg"></div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 linkContainer">
                    <a href="#">Home</a> | <a href="#">Company</a> | <a href="#">Products</a> | <a href="#">Blog</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footerTextContainer">
                    <p>text text text text text text text text text text text text text text text text text text text
                       text text text text text text text text text text text text</p>
                </div>
            </div>
        </section>
    </body>
</html>

