#centralInput {
	width: 30%;
}
.logoContainer {
	text-align: center;
}
.logoContainer img {
	margin: 20px;
	width: 30%;
	max-height: 300px;
	margin-top: 20px;
}

/* Footer styles */
.stickyFooter {
	background-color: white;
	width: 100%;
	border-top: 1px solid #beceda;
	height: 100px;
	position: absolute;
	bottom: 0;
}
.stickyFooter img {
	margin: 20px;
	max-height: 80px;
}
.linkContainer {
	height: 100px;
	line-height: 90px;
	text-align: center;
}
.footerTextContainer p {
	padding: 10px;
}
.footerImgContainer {
	text-align: center
}

@media (max-width: 530px) {
	.footerImgContainer, .linkContainer, .footerTextContainer {
		width: 100% !important;
	}
	.footerTextContainer p {
		padding: 40px;
	}
	.linkContainer {
		height: 50px;
		line-height: 40px;
	}
}